<div class="panel panel-Default">
	<div class="panel-heading">
		<h1><font color="red">trouver emploi</font></h1>
	</div>
	<div class="panel-body">
        
        
			<div class="col-md-8">
				
				<h2><strong class="text-primary">Par: <span>Taieb</span></strong></h2>
                
				<br />
				<br />


               <div class="album-images row">
              	<div data-ng-repeat="x in actionbourse"> 
           <div class="col-md-6 col-sm-8 col-xs-9">
                    <div class="album-image">
						
                        <a href="" class="thumb" data-action="edit">
							 <a href="#/app/actionBourse-details/{{x._id}}" ng-click="openModal('modal-1')">
                          <img src="assets/images/{{x.logo}}" class="img-responsive" style="width:264px; height:164px; border:none;" />
                       

                     
                            <span class="btn btn-info btn-icon btn-icon-standalone btn-lg ">{{x.titre}}</span>
                           
							 </a></a>
						</a>
                        <div class="image-options">
                            <a href="" data-action="edit"><i class="fa-pencil"></i></a>
                            <a href="" data-action="trash"><i class="fa-trash"></i></a>
                        </div>

                        <div class="image-checkbox">
                            <input type="checkbox" class="cbr" />
                        </div>
                    </div>
                </div>
                </div>
            </div>          

        </div>