<div class="panel panel-Default">
	<div class="panel-heading">
		<h1>Detail</h1>
	</div>
	<div class="panel-body">
        
        <div class="row">
			<div class="col-md-5">
				
				<h2><strong class="text-primary">Par: <span>Nadal</span></strong></h2>
                
				<br />
				<br />
				<div data-ng-repeat="x in actionbourse" class="col-sm-20 col-md-11 col-xs-6">
				<div class="col-md-4 col-sm-4 col-xs-6">
                    <div class="album-image">
                        <class="thumb" data-action="detail">
                         <img src="assets/images/{{x.logo}}" class="img-responsive" />
                        </a>

                      <a href="#/app/actionBourse-details/{{x._id}}}" ng-click="openModal('modal-1')">
                          <span class="btn btn-info btn-icon btn-icon-standalone btn-lg ">{{x.titre}}</span>
                        </a>

                        <div class="image-options">
                            <a href="" data-action="edit"><i class="fa-pencil"></i></a>
                            <a href="" data-action="trash"><i class="fa-trash"></i></a>
                        </div>

                        <div class="image-checkbox">
                            <input type="checkbox" class="cbr" />
                        </div>
                    </div>
                </div>